@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welkom op het GOINSP Webportal</h1>
    <p class="lead">Login om de rapporten te bekijken</p>
    <p><a href="/home/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>