@{
    ViewBag.Title = "NO ACCESS";
}

<div class="jumbotron alert-danger">
    <h3>You don't have access to this page, please login</h3>
    <p><a href="/home/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>